# **Theory Questions**

1. What are data structures, and why are they important?
  - Data structures in Python are specialized formats or containers used to store and organize data efficiently. They are important because provide various ways to store, access, and manipulate data according to specific needs.

2. Explain the difference between mutable and immutable data types with examples.

  - Mutable: Mutable data types can be changed after they are created. We can modify their contents without creating a new object.
    *  Examples: Lists, dictionaries, sets.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list in place
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

- Immutable: Immutable data types cannot be changed after they are created. Any modification effectively creates a new* object.
    *  Examples: Tuples, strings, numbers (int, float, complex).

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This would raise a TypeError: 'tuple' object does not support item assignment
my_string = "hello"
# my_string[0] = 'H' # This would raise a TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
- Lists are mutable, which means you can change their contents after creation.Tuples are similar to lists, but they are immutable.

4. Describe how dictionaries store data.
- Dictionaries are key-value pairs that allow you to store and retrieve data based on a unique key. The keys must be immutable, such as strings or numbers. Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.

In [ ]:
my_dict = {'Course': 'PWIOI', 'Duration': 2, 'city': 'Banglore'}
print(my_dict)
type(my_dict)

{'Course': 'PWIOI', 'Duration': 2, 'city': 'Banglore'}

dict

5. Why might you use a set instead of a list in Python?
- Sets automatically store only unique elements. If you need to eliminate duplicates from a collection, a set is ideal.Sets are very efficient for checking if an element exists (using the in keyword).

6. What is a string in Python, and how is it different from a list?
- String: A string is an immutable sequence of characters (text). It's used to represent textual data.
- List: A list is a mutable sequence of items. It can hold elements of various data types (including other lists).

7. How do tuples ensure data integrity in Python?
- Tuples are immutable. This means that once a tuple is created, its contents cannot be changed. This immutability provides data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table (also called a hash map) is a data structure that uses a hash function to map keys to their corresponding values.
- Dictionaries are implemented using hash tables. The keys of a dictionary are passed through a hash function to determine where the values are stored.

9. Can lists contain different data types in Python?
-  Yes, lists in Python can contain elements of different data types (integers, strings, floats, even other lists, and more).

In [ ]:
my_list = [1, "hello", 3.14, [4, 5]]
print(my_list)

[1, 'hello', 3.14, [4, 5]]

10. Explain why strings are immutable in Python.
- Immutability helps maintain data integrity. The string contents can't be accidentally altered, leading to less likely errors.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide extremely fast lookups because they use keys to directly locate values (using a hash table). Lists require you to iterate through elements to find a value.
- Dictionaries allow you to associate values with descriptive keys, making your code more readable and easier to understand. Lists only store data by index.

12.> ChatGPT4 | Midjourney:
10. Explain why strings are immutable in Python.

  Strings are immutable in Python for several reasons, primarily related to:

  •  Efficiency and Performance: Immutability allows Python to optimize how strings are stored and managed in memory. Because strings can't be changed, Python can often reuse string objects, saving memory and improving performance.
  •  Thread Safety: In multi-threaded programs, immutable objects are inherently thread-safe. Multiple threads can safely access a string without worrying about one thread modifying it while another is reading it.
  •  Caching and Optimization: The interpreter can cache and optimize string operations, as it knows the contents will not change.
  •  Data Integrity: Immutability helps maintain data integrity. The string contents can't be accidentally altered, leading to less likely errors.

11. What advantages do dictionaries offer over lists for certain tasks?

  •  Fast Lookup by Key: Dictionaries provide extremely fast lookups (on average, O(1) time complexity) because they use keys to directly locate values (using a hash table). Lists require you to iterate through elements to find a value (O(n) time complexity).
  •  Meaningful Data Organization: Dictionaries allow you to associate values with descriptive keys, making your code more readable and easier to understand. Lists only store data by index.
  •  Flexible Data Structures: Dictionaries are perfect for representing data where you have a key and a corresponding value, such as configuration settings, student records (with names, ages, grades, etc.), or any situation where you want to look up information by a specific identifier.

12. How do sets handle duplicate values in Python?
- Sets automatically eliminate duplicate values. When you add an element to a set, if that element already exists in the set, the set does not add a second copy. Sets only store unique elements.

In [ ]:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)  # Output: {1, 2, 3} - duplicates are gone

{1, 2, 3}

13. Describe a scenario where using a tuple would be preferable over a list.
- When Data Integrity is Crucial that is we need to ensure the data remains unchanged (e.g., coordinates, configuration settings).
- When we need to use the collection as a key in a dictionary (because only immutable types can be dictionary keys).

14. How does the “in” keyword work differently for lists and dictionaries?
- Lists: The in keyword checks if an element is present in the list. It iterates through the list to find the element.
- Dictionaries: The in keyword checks if a key is present in the dictionary. It uses the hash table implementation to perform a very fast lookup.

In [ ]:
my_list = [1, 2, 3]
print(2 in my_list)  # True
print(4 in my_list)  # False

my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # True (checks for key "a")
print(1 in my_dict)  # False (checks for key "1", NOT the value 1)

True
False
True
False

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple directly. Tuples are immutable. This means their contents are fixed after creation. Attempting to change an element results in a TypeError.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the values of the dictionary are themselves dictionaries. This allows you to create hierarchical data structures.

In [ ]:
nested_dict = {
    "fruits": {
        "apple": 3,
        "banana": 5,
        "orange": 2
              },
    "vegetables": {
        "carrot": 7,
        "broccoli": 4,
        "spinach": 6
                  }
}

17. Describe the time complexity of accessing elements in a dictionary.
- The time complexity of accessing an element in a dictionary is, on average, O(1) (constant time). This means that the time it takes to access an element does not depend on the number of elements in the dictionary. This fast performance is due to the hash table implementation.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when:
  
 - Order Matters: The order of elements is important (e.g., a sequence of events, a list of items in a specific order).
  -  You Need to Store Ordered Collections: You need to store a collection of items where you'll be accessing items by their index (e.g., getting the third element).
  - Duplication is Allowed: You need to store duplicate values.Dictionaries require unique keys.
  -  Simple, Sequential Data: You're working with a simple sequence of data where you don't need to associate keys with values.
  -  Memory Efficiency is Critical: For very large, simple lists of items, lists might be slightly more memory-efficient than dictionaries (although the difference is often negligible).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-Dictionaries are considered unordered because the elements (key-value pairs) are not stored in a specific, predictable sequence. They're stored based on the hash values of the keys. This means that the order in which you add items to a dictionary is not guaranteed to be the order in which you retrieve them.
  - Effect on Data Retrieval: You retrieve data from a dictionary using keys, not by index or position (like you would with a list). The order in which you retrieve data is not consistent, but the retrieval itself is very fast (because of the hash table). You can iterate through a dictionary, but the order of iteration is not guaranteed to be the order you added the elements.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-  List: Data retrieval in a list is done by index (position). You know the position of the element you are looking for and fetch it. The time complexity for accessing an element in a list is O(1).
- Dictionary: Data retrieval in a dictionary is done by key. You specify the key associated with the value you want to retrieve. This is generally much faster than searching a list, because dictionaries use hash tables, which give you average O(1) time complexity. The order is not guaranteed.

# **Practical Questions**

In [ ]:
#1.Write a code to create a string with your name and print it.
import random
my_name = "Mohammad Saif Samdaani"
print(my_name)

Mohammad Saif Samdaani

In [ ]:
#2.Write a code to find the length of the string "Hello World"
my_string = "Hello World"
print(len(my_string))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
my_string = "Python Programming"
print(my_string[:3])

Pyt

In [ ]:
 #4.Write a code to convert the string "hello" to uppercase
 my_string = "hello"
 print(my_string.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_string = "I like apple"
print(my_string.replace("apple","orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple =('red', 'green', 'blue', 'yellow')
print(my_tuple[1:])

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('Mango','Apple','Banana')
print('kiwi'in my_tuple)

False

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
 #20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.intersection(set2))

{3}

In [2]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {'name':'Saif','age':22,'city':'Bhagalpur'}
print(my_dict)

{'name': 'Saif', 'age': 22, 'city': 'Bhagalpur'}

In [3]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [4]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [6]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [7]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [8]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {'name':'Saif','age':22,'city':'Bhagalpur'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Saif', 'age': 22, 'city': 'Bhagalpur'}

In [10]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
my_list = [random.randint(1,100) for _ in range(5)]
my_list.sort()
print(my_list)

[28, 52, 57, 67, 92]

In [11]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ['Mango','Apple','Banana','Orange','Grapes']
print(my_list[2])

Banana

In [14]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = dict1.copy()
combined_dict.update(dict2)
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [15]:
#30. Write a code to convert a list of strings into a set
my_list = ['Mango','Apple','Banana','Orange','Grapes']
my_set = set(my_list)
print(my_set)

{'Mango', 'Banana', 'Orange', 'Grapes', 'Apple'}